<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>106547273323-t4dgmsh3v95tt19nd3frucrt5jnohq7i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106547273323-t4dgmsh3v95tt19nd3frucrt5jnohq7i</string>
	<key>API_KEY</key>
	<string>AIzaSyA9uF3YgdLQWIPoBpM20no2eA0Dmn4XLHk</string>
	<key>GCM_SENDER_ID</key>
	<string>106547273323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.org.cria.guardioes</string>
	<key>PROJECT_ID</key>
	<string>guardioes-da-biodiversidade</string>
	<key>STORAGE_BUCKET</key>
	<string>guardioes-da-biodiversidade.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106547273323:ios:dd0405c66c78c18b</string>
	<key>DATABASE_URL</key>
	<string>https://guardioes-da-biodiversidade.firebaseio.com</string>
</dict>
</plist>